body {
    background: #f3f6fb;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 40px;

}

/* quiz card */
.quiz-container {
    background: white;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
}

/* answers */
.option {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* hover effect */
.option:hover {
    background: #f0f5ff;
}

/* button */
button {
    width: 100%;
    padding: 10px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/* progress bar */
.progress-bar {
    background: #ddd;
    border-radius: 10px;
    height: 10px;
    margin-bottom: 20px;
}

.progress-fill {
    background: #4caf50;
    height: 100%;
    width: 25%;
}